#logo {
	width: 250px;
	height:42px;
	line-height:42px;
}

#menu, #highlightContentArea{ font-size: .9em;}

#menu {
	width: 140px;
}

#menuHeader {
	height: 42px;
	line-height: 42px;
}

#menuContent{
	top:42px;
}

#highlightContentArea {
	top:42px;
	bottom:0px;
	width: 220px;
}

#highlightContentArea > div { 
	left:-220px;
}


#largeContentArea > div > div.contentContainer{
	padding-right:160px;
}
#largeContentArea > div.indentedContent > div{
	padding-left: 240px;
}

.scrollable {overflow-y:scroll;}

p.indented {
	padding-left:12px;
}

#largeContentArea > div{
	position:absolute;
	width: 100%;
	display: block;
	left:100%;
	top:42px;
	bottom:0px;
}

/*********************************
HOMEPAGE
*********************************/
#homepage .imageContainer {
	position:absolute;
	z-index:0;
}

#homepage .textContainer{position: absolute; z-index:1;}
#homepage .videoContainer{position: absolute; z-index: 1;}
#homepage .imageContainer {display:none;}

#homepage .textContainer{top: 100px;left: 20px;width: 250px;}
#homepage .textContainer h1{font-size:2.5em;}

#homepage .videoContainer {top: 530px; left:10px; right:150px;}
#homepage .videoContainer > div {width: 100%; display: table;}
#homepage .videoContainer > div > div{display:table-cell; width: 33%;}
#homepage .videoContainer iframe{border: 6px solid black; width:120px; height: 68px;}