#logo {
	width: 350px;
	height:42px;
	line-height:42px;
}


#menu {
	width: 242px;
}

#menuHeader {
	height: 42px;
	line-height: 42px;
}

#menuContent{
	top:42px;
}

#highlightContentArea {
	top:42px;
	bottom:0px;
	width: 350px;
}

#highlightContentArea > div {
	left:-350px;
}
#highlightContentArea .contentContainer {
	padding-left: 48px;
	padding-right: 44px;
}

#largeContentArea > div > div.contentContainer{
	padding-right:262px;
}
#largeContentArea > div.indentedContent > div{
	padding-left: 370px;
}

.scrollable {overflow-y:scroll;}

p.indented {
	padding-left:15px;
}

#largeContentArea > div{
	position:absolute;
	width: 100%;
	display: block;
	left:100%;
	top:42px;
	bottom:0px;
}

/*********************************
HOMEPAGE
*********************************/
#homepage .imageContainer {
	position:absolute;
	z-index:0;
	right: 242px;
}

#homepage .textContainer{position: absolute; z-index:1; top: 100px;left: 200px;width: 250px;}
#homepage .textContainer h1{font-size:2.5em;}

#homepage .videoContainer {position: absolute; z-index: 1; top: 530px; left:80px; right:292px; padding-bottom:40px;}
#homepage .videoContainer > div {width: 100%; display: table;}
#homepage .videoContainer > div > div{display:table-cell; width: 33%;}
#homepage .videoContainer iframe{border: 6px solid black; width:247px; height: 139px;}