#logo {
	width: 250px;
	height:42px;
	line-height:42px;
}

#menu {
	width: 160px;
}

#menuHeader {
	height: 42px;
	line-height: 42px;
}

#menuContent{
	top:42px;
}

#highlightContentArea {
	top:42px;
	bottom:0px;
	width: 250px;
}

#highlightContentArea > div { 
	left:-250px;
}
#highlightContentArea .contentContainer {
	padding-left: 36px;
	padding-right: 34px;
}


#largeContentArea > div > div.contentContainer{
	padding-right:180px;
}
#largeContentArea > div.indentedContent > div.contentContainer{
	padding-left: 270px;
}

.scrollable {overflow-y:scroll;}

p.indented {
	padding-left:12px;
}

#largeContentArea > div{
	position:absolute;
	width: 100%;
	display: block;
	left:100%;
	top:42px;
	bottom:0px;
}

/*********************************
HOMEPAGE
*********************************/
#homepage .imageContainer {
	position:absolute;
	z-index:0;
	-moz-transition: right 1s;
	-webkit-transition: right 1s;
	-o-transition: right 1s;
	transition: right 1s;
}
#homepage .videoPlayer{
	position:absolute;
	z-index:1;
	right: 160px;
	top:40px;
	left:0px;
	text-align: center;
}

#homepage .videoPlayer video{height:348px;}

#homepage .textContainer{
	position: absolute; 
	z-index:2;
	-moz-transition: left 1s;
	-webkit-transition: left 1s;
	-o-transition: left 1s;
	transition: left 1s;
}
	
#homepage.videoSelected .textContainer{left: -250px;}
#homepage.videoSelected .imageContainer{right: -942px;}

#homepage .videoContainer{position: absolute; z-index: 1;}
#homepage .imageContainer {right: 80px; width: 942px;}

#homepage .textContainer{top: 100px;left: 50px;width: 250px;}
#homepage .textContainer h1{font-size:2.5em;}

#homepage .videoContainer {top: 530px; left:20px; right:180px;}
#homepage .videoContainer > div {width: 100%; display: table;}
#homepage .videoContainer > div > div{display:table-cell; width: 33%;}
#homepage .videoContainer a img{width:190px; height: 107px;}
/*********************************
INSTALL
*********************************/
#largeInstall .imageContainer{left:-200px;}
#largeInstall .brandingContainer{right:160px;}
#installModal {
	left: 250px;
	right: 160px;
}
/*********************************
DEMO (See it in Action)
*********************************/
#highlightDemo .quotes > div{ 
	width: 174px; 
	padding-left: 36px;
	padding-right: 28px;
}