html, body, #content{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: Abel, sans-serif;
}
.clear {clear:both;}
.alignCenter{text-align: center;}
.alignRight{text-align: right;}

.floatLeft{float:left;}
.floatRight{float:right;}

.inlineBlock{display:inline-block;}

.lightBG1{ background: #edb8a0; }
.lightBG2{ background: #acc67d; }
.lightBG3{ background: #b1b9cb; }
.lightBG4{ background: #b2a7b2; }
.lightBG5{ background: #cacba0; }
.lightBG6{ background: #b6d1d7; }

.heavyBG1{ background:#e24b2c; }
.heavyBG2{ background:#4f7446; }
.heavyBG3{ background:#3f74c2; }
.heavyBG4{ background:#753f75; }
.heavyBG5{ background:#9faa26; }
.heavyBG6{ background:#55c3dc; }

#content { position:relative; }

#logo {
	position: absolute;
	display:block;
	left:0px;
	top:0px;
	z-index:10;
	text-align:center;
	border: 0px;
	text-decoration:none;
}

#logo img{
	border:0px;
	display: inline-block;
	vertical-align:middle;
}

#menu {
	position: absolute;
	right:0px;
	height: 100%;
	z-index:9;
	text-align: center;
}

#menuHeader {
	background:#b3b3b3;
	color:white;
}
#menuContent {
	width: 100%;
	position:absolute;
	bottom:0px;
}

#menuContent > div{ display:table; height: 100%; width: 100%;}

#menuContent > div > a{
	color: #7b7b7b;
	display:table-row;
	height: 17%;
	padding-left:6px;
	text-decoration:none;
}
#menuContent > div > a > div {
	display:table-cell;
	border-bottom:1px solid white;
	vertical-align:middle;
	border-top:1px solid #b3b3b3;
}
#menuContent > div > a > div.menuHighlight {width: 6px;}

#menuContent > div > a.menu1 > div.menuHighlight,
#menuContent > div > a.menu1.selected > div.menuItem {background:#e24b2c;}
#menuContent > div > a.menu2 > div.menuHighlight,
#menuContent > div > a.menu2.selected > div.menuItem {background:#4f7446;}
#menuContent > div > a.menu3 > div.menuHighlight,
#menuContent > div > a.menu3.selected > div.menuItem {background:#3f74c2;}
#menuContent > div > a.menu4 > div.menuHighlight,
#menuContent > div > a.menu4.selected > div.menuItem {background:#753f75;}
#menuContent > div > a.menu5 > div.menuHighlight,
#menuContent > div > a.menu5.selected > div.menuItem {background:#9faa26;}
#menuContent > div > a.menu6 > div.menuHighlight,
#menuContent > div > a.menu6.selected > div.menuItem {background:#55c3dc;}

#menuContent > div > a > div.menuItem{
	background: #e1e1e1;
}
#menuContent > div > a.selected > div.menuItem{color: white;}

#highlightContentArea {
	position: absolute;
	left: 0px;
	overflow:hidden;
	z-index:8;
	color: #4d4d4d;
}
#highlightContentArea > div { 
	height: 100%; 
	position: absolute; 
	width: 100%;
	box-sizing: border-box;
}

#highlightContentArea > div > div {
	position:absolute;
	left:0px;
	right: 6px;
	height: 100%;
}

#largeContentArea {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index:7;
}

#largeContentArea img {
	max-width: 100%;
}

#templates {
	display:none;
}
button.showTrivia{padding:0px;border:0px; vertical-align:middle;}
.showTrivia{background:url(img/trivia_buttons.png); cursor:pointer;}
.showTriviaBtnWideHow{width:41px; height:16px; background-position:0px 0px;}
.showTriviaBtnWideMore{width:41px; height:16px; background-position:-51px 0px;}
.showTriviaBtnWideDemo{width:41px; height:16px; background-position:-102px 0px;}
.showTriviaBtnWideDev{width:41px; height:16px; background-position:-153px 0px;}

.showTriviaBtnHow{width:20px; height:20px; background-position:0px -26px;}
.showTriviaBtnMore{width:20px; height:20px; background-position:-30px -26px;}
.showTriviaBtnDemo{width:20px; height:20px; background-position:-60px -26px;}
.showTriviaBtnDev{width:20px; height:20px; background-position:-90px -26px;}

.hideHow [data-trivia^="how"]{display:none;}
.hideMore [data-trivia^="more"]{display:none;}
.hideDemo [data-trivia^="demo"]{display:none;}
.hideDev [data-trivia^="dev"]{display:none;}

[data-trivia^="how"]{ background: rgba(237,184,160,1); transition:background-color 5s;}
[data-trivia^="more"]{ background: rgba(172,198,125,1);transition:background-color 5s;}
[data-trivia^="demo"]{ background: rgba(178,167,178,1);transition:background-color 5s;}
[data-trivia^="dev"]{ background: rgba(182,209,215,1);transition:background-color 5s;}

[data-trivia^="how"].noBG,
[data-trivia^="more"].noBG,
[data-trivia^="demo"].noBG,
[data-trivia^="dev"].noBG { background: transparent;}
/*
makes them transparent instead upon show
[data-trivia="how"].shown{ background: transparent;}
[data-trivia="more"].shown{ background: transparent;}
[data-trivia="demo"].shown{ background: transparent;}
[data-trivia="dev"].shown{ background: transparent;}
*/

[data-trivia^="how"].shown{ background:  rgba(237,184,160,.3);}
[data-trivia^="more"].shown{ background: rgba(172,198,125,.3);}
[data-trivia^="demo"].shown{ background: rgba(178,167,178,.3);}
[data-trivia^="dev"].shown{ background:  rgba(182,209,215,.3);}
[data-trivia^="how"].shown.noBG,
[data-trivia^="more"].shown.noBG,
[data-trivia^="demo"].shown.noBG,
[data-trivia^="dev"].shown.noBG { background: transparent;}

aside[data-trivia] { padding-bottom:12px; border-radius:5px; }

.slideImg{width:0px; height:0px; overflow: hidden;}
/*********************************
HOMEPAGE
*********************************/
#homepage .textContainer {background:rgba(255,255,255,.4);}

#homepage .videoPlayer .hideVideo {position:absolute; height:20px; width: 20px; border:2px solid black; border-radius:10px; background: white; top:5px; right: 5px;}
/*********************************
HOW IT WORKS
*********************************/
#highlightHowItWorks .highlightLinks a {text-decoration:none; color: #4d4d4d;}
#highlightHowItWorks .highlightLinks > div {
	display: block;
	padding-left: 10px;
	margin-bottom: 12px;
	font-size: 1.1em;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

/*********************************
FEATURES
*********************************/
#highlightFeatures ul {padding-left: 20px; font-size: 1.2em}
#highlightFeatures a {text-decoration:none;color: #4D4D4D;}

#largeFeatures .section {clear: both; margin-bottom: 40px;}
#largeFeatures .section.left .icon {float: left;} 
#largeFeatures .section.right .icon {float: right;} 

#largeFeatures .section .icon{ width:200px; height:150px; background:url(img/features_ills_02_sprite.png), no-repeat;}
#largeFeatures .section .icon.globe {background-position: 0px 0px;}
#largeFeatures .section .icon.cloud {background-position: -200px 0px;}
#largeFeatures .section .icon.credit {background-position: 0px -150px;}
#largeFeatures .section .icon.screen {background-position: -200px -150px;}
#largeFeatures .section .icon.mobile {background-position: 0px -300px;}
#largeFeatures .section .icon.social {background-position: -200px -300px;}
#largeFeatures .section .icon.phone {background-position: 0px -450px;}
#largeFeatures .section .icon.binocular {background-position: -200px -450px;}
#largeFeatures .section .icon.amz {background-position: 0px -600px;}
#largeFeatures .section .icon.ebay {background-position: -200px -600px;}
#largeFeatures .section .icon.github {background-position:  0px -750px;}
#largeFeatures .section .icon.party {background-position: -200px -750px;}

/*********************************
INSTALL
*********************************/
#highlightInstall .step .icon {
	float: left;
	background:url(img/install_numbers.png) no-repeat; width: 65px; height:71px;
	margin-right: 8px;
	margin-bottom: 8px;
}

#highlightInstall .step1 .icon{background-position: 0px 0px;}
#highlightInstall .step2 .icon{background-position: 0px -71px;}
#highlightInstall .step3 .icon{background-position: 0px -142px;}

#largeInstall .imageContainer{
	position:absolute;
	top: -180px;
	left:-60px;
	width:1297px;
	height:903px;
	text-align:center;
}
#largeInstall .brandingContainer{
	position:absolute;
	top: 300px;
	width:200px;
	padding: 20px;
	background:rgba(255,255,255,.4);
}
#largeInstall .brandingContainer img{display:block;}

#installModal {
	position: absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	
	background: rgba(177,185,203,.6);
	z-index:100;
}

#installModal .contentContainer{
	position:absolute;
	top: -1000px;
	border: 1px solid #3F74C2;
	width: 260px;
	left: 50%;
	margin-left: -130px;
	background:white;
}

#installModal .contentContainer h1{
	margin: 0px;
	background: rgb(177,185,203);
	padding: 5px;
}
#installModal .contentContainer p{
	padding: 20px;
	margin: 0px;
}

/*********************************
DEMO (See it in Action)
*********************************/
#highlightDemo .quotes > div{ display:none; position:absolute; }
#highlightDemo blockquote{
	margin-left:0px;
	margin-right:0px;
	font-style:italic;
}
#highlightDemo .quotesrc{font-style:italic;}

#highlightDemo .quoteNav{ position: absolute; left:6px; right:6px; top: 50%; margin-top: -43px;}
#highlightDemo .quoteNav .prev{ float: left; cursor: pointer; }
#highlightDemo .quoteNav .next{ float: right; cursor: pointer;}

#largeDemo .contentContainer{height:100%;}

#largeDemo .slideContainer { display: table; width: 100%; height:100%;}
#largeDemo .slideContainer .slideGroup{ display: table-row; height:100%;}
#largeDemo .slideContainer .slide{ text-align:center; display: table-cell; width: 33%; cursor:pointer; vertical-align: middle;}
#largeDemo .slideContainer .slide > span{ display:inline-block; width: 90%; max-width: 202px;}
#largeDemo .slideContainer .slide .siteCap img{ width:100%;}
#largeDemo .slideContainer .bar{ height: 0px;margin-bottom: 18px;}
#largeDemo .slideContainer .currSlide .bar{ height: 8px;margin-bottom: 10px;}

#largeDemo .contentContainer {min-height: 100%;}

/*********************************
WHO WE ARE
*********************************/
#highlightWhoWeAre a {text-decoration:none;color: #4D4D4D;}
#highlightWhoWeAre h2 {margin-bottom:5px;}
#highlightWhoWeAre div > a { padding-left: 25px;}

/*********************************
DOCUMENTATION
*********************************/
#highlightDocumentation a {text-decoration:none;color: #4D4D4D; font-size: 1.3em; display: block;}
.mw-editsection{display:none;}
.wikiBlurb{font-size:.7em; color: #666666;}
.wikiBlurb hr{color: #eeeeee;}