#logo {
	left:10px;
	height:42px;
	line-height:42px;
}

#menu, #highlightContentArea{ font-size: .9em;}

#menu {
	min-width: 100px;
	width: 30%;
	height:42px; 
	overflow:hidden;
}

#menu.reveal{height:480px;}

#menuHeader {
	height: 42px;
	line-height: 42px;
	cursor:pointer;
}

#menuContent{
	top:42px;
}
#menuContent > div{ height: 438px;}

#highlightContentArea {
	top:42px;
	width: 100%;
	height: 438px;
}
#highlightContentArea .contentContainer {
	padding-left: 48px;
	padding-right: 44px;
}

#highlightContentArea > div { 
	left:-100%;
}

#largeContentArea > div.indentedContent {
	padding-top: 438px;
}
#largeContentArea {
	top: 42px;
	height: auto;
}

p.indented {
	padding-left:12px;
}


/*********************************
HOMEPAGE
*********************************/
#homepage .imageContainer{ display:none;}
#homepage .videoContainer iframe{ border: 6px solid black; width: 300px; height: 169px; margin: 3px;}

/*********************************
FEATURES
*********************************/
#largeFeatures .section .icon{ width:64px; height:48px; background:url(img/features_ills_02_sprite_64.png), no-repeat;}
#largeFeatures .section .icon.globe {background-position: 0px 0px;}
#largeFeatures .section .icon.cloud {background-position: -64px 0px;}
#largeFeatures .section .icon.credit {background-position: 0px -48px;}
#largeFeatures .section .icon.screen {background-position: -64px -48px;}
#largeFeatures .section .icon.mobile {background-position: 0px -96px;}
#largeFeatures .section .icon.social {background-position: -64px -96px;}
#largeFeatures .section .icon.phone {background-position: 0px -144px;}
#largeFeatures .section .icon.binocular {background-position: -64px -144px;}
#largeFeatures .section .icon.amz {background-position: 0px -192px;}
#largeFeatures .section .icon.ebay {background-position: -64px -192px;}
#largeFeatures .section .icon.github {background-position:  0px -240px;}
#largeFeatures .section .icon.party {background-position: -64px -240px;}
/*********************************
DEMO (See it in Action)
*********************************/
#highlightDemo .quotes > div{ 
	width: 222px; 
	padding-left: 48px;
	padding-right: 38px;
}

#largeDemo .contentContainer{display: none;}